<div class="fitem_edit">
  <h1>Файл <%= @fitem.name %> </h1>
  <%= flash_messages %>
  <%= error_messages_for :fitem %>
  <br/>
  <%= form_for @fitem, :html => { :multipart => true } do |f| -%>
    <table class="fitem_edit_main">
      <tr>
        <td>
          <label for="fitem_name"> Имя (латинскими буквами без пробелов):</label><br/>
          <%= f.text_field :name, :width => 40 %>
        </td>
      </tr>
      <tr>
        <td>
          <label for="fitem_comment"> Комментарий:</label><br/>
          <%= f.text_field :comment, :size => 70 %>
        </td>
      </tr>
      <tr>
        <td>
          <% error_wrapper(@fitem, :file) do -%>
            <label for="fitem_file">Файл:</label><br/>
            <%= render :partial => 'file_field', :object => @fitem %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <%= submit_tag 'Сохранить', { :name => 'refresh', :class => "yes_btn" } %>
          <%= submit_tag 'Отменить', { :name => 'cancel', :class => "no_btn" } %>
        </td>
      </tr>
    </table>
  <% end -%>
</div>
