<%= title(@title || "Информация о файле №#{@fitem.id}") %>

<%= flash_messages %>

<div class="right">
  <%= link_to '[Редактировать]', edit_fitem_path(@fitem) %><br/>
  <%= link_to_file "[Скачать]", fitem: @fitem %>
</div>

<% if @fitem.image? %>
  <div class="right" style="clear: both; margin: 10px 0px 10px 10px">
    <%= image_item @fitem, width: 200 %>
  </div>
<% end %>
<table class="notlist">
  <tr>
    <th>№</th>
    <td><%= @fitem.id %></td>
  </tr>
  <tr>
    <th>Имя</th>
    <td><%= link_to_file @fitem.name, name: @fitem.name %></td>
  </tr>
  <tr>
    <th>Имя исходного файла</th>
    <td><%= @fitem.original_filename %></td>
  </tr>
  <tr>
    <th>Комментарий</th>
    <td><%= @fitem.comment %></td>
  </tr>
  <tr>
    <th>Размер</th>
    <td><%= @fitem.size.to_human_size %><%= raw(", <span class=\"imgdims\">#{@fitem.dims}</span>") if @fitem.image? %></td>
  </tr>
  <tr>
    <th>Дата загрузки:</th>
    <td><%= time_s(@fitem.created_at) %></td>
  </tr>
</table>
