<div class="comment_form" id="comment_form">
  <%-
    @comment.contacts = session[:comment_contacts] if @comment.contacts.blank? 
  -%>
  <% remote_form_for @comment do |f| %>
    <% if @comment.id %>
      <%= image_submit_tag 'icon-close.gif', :class => 'right' %>
    <% else %>
      <%= link_to_function icon_close, "Element.remove('comment_form')", :class => 'right' %>
    <% end %>
    <input name="remote" value="1" type="hidden">
    <%= f.hidden_field :obj_type %>
    <%= f.hidden_field :obj_id %>
    <% if !current_user || (current_user && @comment.id && @comment.author_id != current_user.id) %>
      <p>
        <label for="comment_author_name">Ваши имя и фамилия</label>:<br/> 
        <%= f.text_field :author_name, :size => 60 %>
      </p>
    <% end -%>
    <% if !current_user || (current_user && @comment.id) %>
      <p>
        <label for="comment_contacts">Ваши контакты &#150; email или телефон<br/>
         (они не будут отображаться на сайте)</label>:<br/> 
        <%= f.text_field :contacts, :size => 60 %>
      </p>
    <% end %>
    <% if session[:is_spammer] %>
      <%= yacaph_block("Спишите код с картинки внизу:", :prefix => 'comment_') %>
    <% end %>
    <p>
      <label for='comment_subject'>Тема</label>:
        <%= f.text_field :subject, :size => 60 %> 
    </p>
    <p>
      <label for="comment_body">Текст</label>
        (можно оставить пустым):<br/> 
        <%= f.text_area :body, :rows => 10, :cols => 60 %>
    </p>
    <p>
      <%= submit_tag "Послать", :name => 'sumbit', :class => 'yes_btn' %>
    </p>
  <%- end %>
</div>

