<h1>Editing comment</h1>

<%= error_messages_for :comment %>

<% form_for(@comment) do |f| %>
  <p>
    <b>Subject</b><br />
    <%= f.text_field :subject %>
  </p>

  <p>
    <b>Body</b><br />
    <%= f.text_area :body %>
  </p>

  <p>
    <b>Obj</b><br />
    <%= f.text_field :obj_id %>
  </p>

  <p>
    <b>Obj type</b><br />
    <%= f.text_field :obj_type %>
  </p>

  <p>
    <b>Root</b><br />
    <%= f.text_field :root_id %>
  </p>

  <p>
    <b>Author</b><br />
    <%= f.text_field :author_id %>
  </p>

  <p>
    <b>Author name</b><br />
    <%= f.text_field :author_name %>
  </p>

  <p>
    <b>Engine</b><br />
    <%= f.text_field :engine %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @comment %> |
<%= link_to 'Back', comments_path %>
