<%= title(@title ||= 'Пользователи') %>
<div class="users_index">
  <% p = params.dup %>
  <table class="list">
    <tr>
      <th>
      </th>
      <%= column_title_tag 'th', :login, 'Login', p %>
      <%= column_title_tag 'th', :email, 'E-mail', p %>
      <%= content_tag 'th', 'Роли', p %>
    </tr>
    <% @users.each do |x| -%>
      <tr>
        <td>
          <%= link_to icon_edit, edit_user_path(x) %>
          <%= link_to icon_delete, user_path(x), :method => :delete, :confirm => "Вы действительно хотите удалить пользователя #{x.login}?" %>
        </td>
        <td>
          <%= x.login %>
        </td>
        <td>
          <%= x.email %>
        </td>
        <td>
          <%= x.roles.map(&:role).join(', ') %>
        </td>
      </tr>
    <% end -%>
  </table>
</div>
