<div class="users_forgot_password">
  <h1>Ввод нового пароль</h1>
  <%= flash_messages %>
  <%= error_messages_for :user %>
  <div class="hint">
    Введите новый пароль.
  </div>
  <% form_tag do -%>
    <p><label for="password">Новый пароль:</label>
    <%= password_field_tag 'password' %>
    <p><label for="password_confirmation">Повторите ввод нового пароля:</label>
    <%= password_field_tag 'password_confirmation' %>
    <p><%= submit_tag 'Сменить пароль' %>
  <% end -%>
</div>
