<% if has_permission?(:requests) %>
<h2>Запросы</h2>
<% p = params.dup %>

<table width="100%">
  <tbody>
  <tr>
    <td width="300">
     <form action="/requests" method="get">
       Искать в запросах:<br/>
       <input name="request_s" value="<%= params[:request_s]%>" id="request_s" size="32" type="text">
       <%= image_submit_tag 'icon-search.gif' %>
     </form>
    </td>
    <td>
      Для поиска запроса достаточно указать часть имени пропавшего, тип запроса, 
      или любое слово из текста запроса.
      <p style="margin-top: 9px">
        <%= link_to 'Новый&nbsp;запрос',  new_request_path, :class => 'new_record', :style => "margin-top:5px" %>
      </p>
    </td>
  </tr>
  </tbody>
</table>

<table class="list">
  <tr>
    <th></th>
    <th><%= column_title 'lost_full_name', 'ФИО пропавшего', p %></th>
    <th><%= column_title 'request_type', 'Тип', p %></th>
    <th><%= column_title 'created_at', 'Дата создания', p %></th>
  </tr>
<% for req in @reqs %>
  <tr>
    <td>
      <%= link_to icon_edit, edit_request_path(req), :title => 'редактировать' %><br/>
      <%= link_to icon_delete, req, 
        :confirm => "Вы уверены, что хотите удалить запрос \##{req.id}?", 
        :method => :delete,
        :title => 'удалить'
      %>
    </td>
    <td>
      <%= link_to req.lost_full_name, req, :title => 'Показать' %>
    </td>
    <td>
      <%= link_to request_short_types[req.request_type.to_i], p.except(:page).flip(:request_type => req.request_type) %>
    </td>
    <td>
      <%= datetime_s(req.created_at) %>
    </td>
  </tr>
<% end %>
</table>

<%= will_paginate @reqs %>
<% end %>


