<% if has_permission?(:requests) -%>
  <div class="right"><%= link_to '[редактировать]', edit_request_path(@req) %></div>
<% end -%>

<% @title = "Запрос №#{@req.id}" %>
<h1><%= link_to icon_edit(:align=>'top'), edit_request_path(@req) %><%= @title %></h1>

<%= flash_messages %>

  <%= link_to_function '&lt;&lt;вернуться обратно', 'history.back()' %> | 
  <% if has_permission?(:requests) -%>
    <%= link_to 'К списку запросов', list_requests_path %>
  <% else -%>
    <%= link_to 'К странице нового запроса', requests_path %>
  <% end -%>
  <% if allow_edit? -%>
    | <%= link_to icon_edit, edit_request_path(@req) %>
      <%= link_to icon_delete, request_path(@req), :method => :delete, :confirm => "Вы действительно хотите удалить запрос на #{@req.lost_full_name} (№ #{@req.id})" %>
  <% end -%>

<%-
  def table_item(name,value)
    "<tr>\n<th>#{name}</th><td>#{value}</td>\n</tr>"
  end
-%>
<table class="request" width="100%">
  <tr>
    <td>
      <table class="subform notlist">
        <tr>
          <%= table_item "Статус",  request_statuses[@req.status] %>
          <%= table_item "Тип запроса",  request_types[@req.request_type] %>
          <%= table_item "Дата создания",  datetime_s(@req.created_at) %>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <th class="left">Данные о пропавшем </th>
  </tr>
  <tr>
    <td>
      <table class="subform notlist">
  <%= table_item 'ФИО', h(@req.lost_full_name) %>
  <%= table_item 'Дата рождения', fuzzy_date_s(@req, :lost_birth_date) %> 
  <%= table_item 'Дата исчезновения', fuzzy_date_s(@req, :lost_on) %>
  <%= table_item 'Место жительства', h(@req.lost_address) %> 
  <%= table_item 'Место исчезновения', h(@req.lost_last_location) %> 
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <% if @req.people.blank? -%>
        Нет связанных записей в списке пропавших.
      <% else -%>
        Записи в списке пропавших, связаные с запросом:
        <ul>
          <% @req.people.each do |person| -%>
            <li><%= link_to h(person.signature), person %></li>
          <% end -%>
        </ul>
      <% end -%>
    </td>
  </tr>
  <tr>
    <th class="left">
      Текст запроса
    </th>
  </tr>
  <tr>
    <td>
      <p><%= h(@req.details).gsub(/\n(\s*\n)+/, "\n<p>") %>
    </td>
  </tr>
  <tr>
    <th class="left">
      Данные о заявителе
    </th>
  </tr>
  <tr>
    <td>
      <table class="subform notlist">
  <%= table_item 'ФИО', h(@req.full_name) %>
  <%= table_item 'Место жительства', h(@req.address) %> 
  <%= table_item 'Телефон', h(@req.phone_number) %> 
  <%= table_item 'E-mail', h(@req.email) %>
  <%= table_item 'Др. контакты', h(@req.contacts) %> 
      </table>
    </td>
  </tr>
</table>

<%= link_to_function '&lt;&lt;вернуться обратно', 'history.back()' %> | 
<% if has_permission?(:requests) -%>
  <%= link_to 'К списку запросов', list_requests_path %>
<% else -%>
  <%= link_to 'К странице нового запроса', requests_path %>
<% end -%>
<% if allow_edit? -%>
  | <%= link_to icon_edit, edit_request_path(@req) %>
    <%= link_to icon_delete, request_path(@req), :method => :delete, :confirm => "Вы действительно хотите удалить запрос на #{@req.lost_full_name} (№ #{@req.id})" %>
<% end -%>

<% @obj = @req %>
<%= render :partial => 'comments/obj_comments', :object => @obj %>
