<%= link_to_remote 'Послать повтороно', :url => send_inv_invitation_path(@invitation, :target => (target = 'inv_' + @invitation.id.to_s)) %> <div id="<%= target %>"></div>

<%= link_to "Все приглашения", list_invitations_path %>


<table class="subform" style="margin: 23px 0;">
  <tr>
    <td>
      <b>Name:</b>
        <%=h @invitation.name %>
    </td>
    <td>
      <b>Email:</b>
      <%=h @invitation.email %>
    </td>
  </tr>
  <tr>
    <td>
      <b>Used by:</b>
      <%=h @invitation.used_by_id %>
    </td>
    <td>
      <b>Used at:</b>
      <%=h @invitation.used_at %><br/>
      <b>Created by:</b>
      <%=h @invitation.created_by_id %><br/>
      <b>Expired at:</b>
      <%=h @invitation.expired_at %>
    </td>
  </tr>
  <tr>
    <td colspan="2">
     <b>Subject:</b>
      <%=h @invitation.subject %>
    </td>
  </tr>
  <tr>
    <td colspan="2">
     <b>Body:</b>
      <%=h @invitation.body %>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <b>Code:</b>
      <%=h @invitation.code %>
    </td>
  </tr>
</table>

<%= link_to 'Edit', edit_invitation_path(@invitation) %> |
<%= link_to 'Back', invitations_path %>
