<%= title @title ||= "Редактирование записи из списка по горячим следам"  %>

<%= error_messages_for :recent_person %>

<% now = Time.now %>
<%= form_for(@recent_person) do |f| %>
<table width="100%">
  <tr>
    <td colspan="2">
      <p>
        <%= f.submit "Сохранить", :name => 'submit', :class => 'yes_btn' %>
        <%= f.submit "Отменить",  :name => 'cancel', :class => 'no_btn' %>
      </p>
      <p>
        <label for="recent_person_status">Статус</label><br />
        <%= f.select :status, recent_people_statuses.invert.to_a.sort_by{|a| a.last}  %>
      </p>
      <p>
        <label for="recent_person_full_name">ФИО</label><br />
        <%= f.text_field :full_name, :size => 35 %>
      </p>
    </td>
  </tr>
  <tr>
    <td width="50%" style="vertical-align: top">
      <p>
        <label for="recent_person_birth_date">Дата рождения</label><br />
        <%= select_fuzzy_date @recent_person, :birth_date,
          :start_year => 1900,
          :end_year => now.year %>
      </p>
      <p>
        <label for"recent_person_last_address">Место жительства<br/> на момент исчезновения</label><br />
        <%= f.text_area :last_address, :rows => 3, :cols => 25 %>
      </p>
    </td>
    <td width="50%" style="vertical-align: top">
      <p>
        <label for="recent_person_lost_on">Дата исчезновения</label><br />
        <%= select_fuzzy_date  @recent_person, :lost_on, :start_year => 1980, :end_year => now.year %>
      </p>
      <p>
        <label for="recent_person_disappear_location">Место исчезновения</label><br /><br />
        <%= f.text_area :disappear_location, :rows => 3, :cols => 25 %>
      </p>
      <p>
        <label for="recent_person_disapear_region">Регион исчезновения</label><br />
        <%= text_field_with_auto_complete :recent_person, :disappear_region, {}, min_chars: 0 %>
        <div class="explain">
         (Для обозначения региона используйте, пожалуйста,
         сокращения: РИ - Республика Ингушетия,
         РД - Республика Дагестан, РСО-А - Республика Северная Осетия - Алания,
         ЧР - Чеченская Республика, РКБ - Республика Кабардино - Балкарская)
        </div>
      </p>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <p>
        <b>Обстоятельства похищения или исчезновения</b><br />
        <%= f.text_area :info_source, :rows => 4, :cols => 70 %>
      </p>

      <p>
        <b>Принятые меры, результаты поиска</b><br />
        <%= f.text_area :remark, :rows => 4, :cols => 70 %>
      </p>

      <p>
        <%= f.submit "Сохранить", :name => 'submit', :class => 'yes_btn' %>
        <%= f.submit "Отменить",  :name => 'cancel', :class => 'no_btn' %>
      </p>
    </td>
  </tr>
</table>
<% end %>

<%= link_to_function  "К предыдущей странице", "history.back()" %> |
<%= link_to('Показать запись', @recent_person) + " | " if @recent_person && @recent_person.id %> <%= link_to 'К списку', recent_people_path %>

