<p>
  <b>First name:</b>
  <%=h @anket.first_name %>
</p>

<p>
  <b>Second name:</b>
  <%=h @anket.second_name %>
</p>

<p>
  <b>Last name:</b>
  <%=h @anket.last_name %>
</p>

<p>
  <b>Girl family name:</b>
  <%=h @anket.girl_family_name %>
</p>

<p>
  <b>Nickname:</b>
  <%=h @anket.nickname %>
</p>

<p>
  <b>Gender:</b>
  <%=h @anket.gender %>
</p>

<p>
  <b>Marital status:</b>
  <%=h @anket.marital_status %>
</p>

<p>
  <b>Birth date:</b>
  <%=h @anket.birth_date %>
</p>

<p>
  <b>Birth place:</b>
  <%=h @anket.birth_place %>
</p>

<p>
  <b>Sitizenship:</b>
  <%=h @anket.sitizenship %>
</p>

<p>
  <b>Ethnicity:</b>
  <%=h @anket.ethnicity %>
</p>

<p>
  <b>Passport info:</b>
  <%=h @anket.passport_info %>
</p>

<p>
  <b>Military number:</b>
  <%=h @anket.military_number %>
</p>

<p>
  <b>Residental address:</b>
  <%=h @anket.residental_address %>
</p>

<p>
  <b>Education info:</b>
  <%=h @anket.education_info %>
</p>

<p>
  <b>Job info:</b>
  <%=h @anket.job_info %>
</p>

<p>
  <b>Skills info:</b>
  <%=h @anket.skills_info %>
</p>

<p>
  <b>Life plans:</b>
  <%=h @anket.life_plans %>
</p>

<p>
  <b>Military info1:</b>
  <%=h @anket.military_info1 %>
</p>

<p>
  <b>Military info2:</b>
  <%=h @anket.military_info2 %>
</p>

<p>
  <b>Family members:</b>
  <%=h @anket.family_members %>
</p>

<p>
  <b>Friends:</b>
  <%=h @anket.friends %>
</p>

<p>
  <b>Diseases info1:</b>
  <%=h @anket.diseases_info1 %>
</p>

<p>
  <b>Deseases info2:</b>
  <%=h @anket.deseases_info2 %>
</p>

<p>
  <b>Pregnancy info:</b>
  <%=h @anket.pregnancy_info %>
</p>

<p>
  <b>Body height:</b>
  <%=h @anket.body_height %>
</p>

<p>
  <b>Body constitution:</b>
  <%=h @anket.body_constitution %>
</p>

<p>
  <b>Body corpulence:</b>
  <%=h @anket.body_corpulence %>
</p>

<p>
  <b>Feet size:</b>
  <%=h @anket.feet_size %>
</p>

<p>
  <b>Feet length:</b>
  <%=h @anket.feet_length %>
</p>

<p>
  <b>Blood group:</b>
  <%=h @anket.blood_group %>
</p>

<p>
  <b>Body pilosis:</b>
  <%=h @anket.body_pilosis %>
</p>

<p>
  <b>Face pilosis:</b>
  <%=h @anket.face_pilosis %>
</p>

<p>
  <b>Head hair:</b>
  <%=h @anket.head_hair %>
</p>

<p>
  <b>Head hair specials:</b>
  <%=h @anket.head_hair_specials %>
</p>

<p>
  <b>Head size:</b>
  <%=h @anket.head_size %>
</p>

<p>
  <b>Head form:</b>
  <%=h @anket.head_form %>
</p>

<p>
  <b>Moustache info:</b>
  <%=h @anket.moustache_info %>
</p>

<p>
  <b>Skin color:</b>
  <%=h @anket.skin_color %>
</p>

<p>
  <b>Face sideview:</b>
  <%=h @anket.face_sideview %>
</p>

<p>
  <b>Face frontview:</b>
  <%=h @anket.face_frontview %>
</p>

<p>
  <b>Face type:</b>
  <%=h @anket.face_type %>
</p>

<p>
  <b>Face specials:</b>
  <%=h @anket.face_specials %>
</p>

<p>
  <b>Forehead type:</b>
  <%=h @anket.forehead_type %>
</p>

<p>
  <b>Forehead height:</b>
  <%=h @anket.forehead_height %>
</p>

<p>
  <b>Forehead specials:</b>
  <%=h @anket.forehead_specials %>
</p>

<p>
  <b>Eyebrow position:</b>
  <%=h @anket.eyebrow_position %>
</p>

<p>
  <b>Eyebrow type:</b>
  <%=h @anket.eyebrow_type %>
</p>

<p>
  <b>Eyebrow specials:</b>
  <%=h @anket.eyebrow_specials %>
</p>

<p>
  <b>Eyes info:</b>
  <%=h @anket.eyes_info %>
</p>

<p>
  <b>Eyes specials:</b>
  <%=h @anket.eyes_specials %>
</p>


<%= link_to 'Edit', edit_anket_path(@anket) %> |
<%= link_to 'Back', ankets_path %>
