<div id="main_menu">
  <ul>
    <li>
      <%= link_to_topic "Главная<br/> страница", :name=>'index'%>
    </li>
    <li>
      <%= link_to "Список пропавших<br/>без вести", db_info_people_path  %>
    </li>
    <li>
      <%= link_to "Розыск<br/>по горячим следам", recent_path %>
    </li>
    <li>
      <%= link_to "Новости<br />ММГЛ", news_topics_path %>
    </li>
    <li>
      <%= link_to_topic "О нас<br />Контакты", :name => 'about'  %>
    </li>
  </ul>
</div>
